<template>
    <div id="header-container">
        <b-navbar toggleable="sm" type="dark" variant="dark">
            <b-navbar-brand>Categories:</b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item v-for="category in catObject"
                    :key="category.id"
                    @click="chosenCategory(category.id, category.name)"
                    class="ml-5">
                        {{ category.name }}
                    </b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>

<script>
/* Categories in OpenTDB

[ID: Name]

9: General Knowledge
11: Film
14: Television
15: Video Games
18: Science: Computers
22: Geography

*/
export default {
    data() {
        return {
            catObject: [
                {id:9, name:"General"},
                {id:11, name:"Film"},
                {id:14, name:"Television"},
                {id:15, name:"Video Games"},
                {id:18, name:"Computers"},
                {id:22, name:"Geography"}
            ]
        }
    },
    methods: {
        /**
         * Tells parent to change the category, and to get new questions
         * @param {Number} catId - ID of the category as it is in OpenTDB
         * @param {String} catName - Name of the category, to show the user
         */
        chosenCategory(catId, catName) {
            this.$emit('pickcat', catId, catName);
        }
    }
}
</script>