<template>
    <!--If-directive ensures it's not rendered until after fetching from the API-->
    <div id="quiz-area-container" 
    v-if="fetched"
    >
    <!--Transparent makes it so that the background color is that of the div-->
        <b-jumbotron bg-variant="transparent" header-level="5">
            <template slot="header">{{ catName }} Quiz</template>
            <template slot="lead">
                Question {{ qIndex+1 }}:
                <br>
                {{ fetchedQuestions[qIndex].question }}
            </template>
            <!--Dynamic class (using method answerHighlight) allows for the answer (option) to change background color based on selection and 
             which is correct, by returning the class name. The hover class turns on and off depending on whether the user has submitted.
             tabindex="0" makes keyup.enter work, allowing the user to submit by pressing enter.-->
            <b-list-group>
                <b-list-group-item v-for="option in displayAnswers" 
                :key="option" 
                @click.prevent="selectAnswer(option)"
                :class="[answerHighlight(option), {'hover': !submitted} ]" 
                tabindex="0" 
                @keyup.enter="submitAnswer"
                >
                    {{ option }}
                </b-list-group-item>
            </b-list-group>
            <b-button @click="submitAnswer">
                Submit
            </b-button>
        </b-jumbotron>
    </div>
</template>

<script>
export default {
    data () {
        return {
            catName: "",            //Current category
            fetchedQuestions: [],   //Array storing objects from API call
            qIndex: 0,              //Index for question array above
            fetched: false,         //Used so that HTML renders after API call
            correct: "",            //Stores the correct answer
            selection: "",          //Stores the user's selection
            submitted: false,       //Used for dynamic classes in coloring the selected & correct option and disabling the hover coloring
        }
    },
    mounted: function () {
        //Gets the current category from parent before fetching questions
        this.$emit('initquiz');
    },
    computed: {
        displayAnswers: function() {
            return this.getAnswers()
        }
    },
    methods: {
        /**
         *  Called by Parent #App. Fetches the questions and initializes the necessary values
         *  @param {String} catId - ID of the category, used in API call
         *  @param {String} catName - Name of category, used to display in HTML for user
         */
        initQuestions(catId,catName) {
            fetch(`https://opentdb.com/api.php?amount=10&category=${catId}&type=multiple`, {
            method: 'get'
            }).then((response) => {
                return response.json()
            }).then((data) => {
                //Mapped function replaces entity names with the character in the object's Q&As
                this.fetchedQuestions = data.results.map(this.replaceEntities);
                this.fetched = true;
                this.qIndex = 0;
                this.selection = "";
                this.catName=catName
            })
        },
        /**
         * Gets answers of the current question and shuffles them randomly
         * @returns {Array} answers - The shuffled answers
         */
        getAnswers() {
            //Stores the correct answer in its own variable for easier access
            this.correct = this.fetchedQuestions[this.qIndex].correct_answer;
            let answers = [...this.fetchedQuestions[this.qIndex].incorrect_answers,
                this.correct];
            //Fisher-Yates Shuffle, randomizes structure of the array
            for (let i = answers.length - 1; i > 0; i--) {
                let j = Math.floor(Math.random() * (i + 1));
                [answers[i], answers[j]] = [answers[j], answers[i]];
            }
            return answers;
        }, 
        /**
         * Stores the user's selected answer in variable
         *  @param {String} option - The answer selected by the user
         */
        selectAnswer(option) {
            this.selection = option;
        },
        /**
         * Submits the selected answer and iterates to the next question. 
         * Uses $emit to notify the parent component 'App' when it's correct so that it increments the score, 
         * and also to notify when on the last question so that it renders the score component
         */
        submitAnswer() {   
            if(this.selection.length > 0) {
                this.submitted = true;
                if (this.selection === this.correct) {
                    this.submitted = true; 
                    //Notifies parent that the answer was correct
                    this.$emit('correctinc');
                }
                //Iterate if not on the last question, otherwise render score
                if (this.qIndex < (this.fetchedQuestions.length - 1))
                {
                    //Delays so that the user can see what the correct answer was and if they got it right
                    setTimeout(function(){
                        this.selection = ""; 
                        this.correct = "";
                        this.qIndex++; 
                        this.submitted = false; 
                        this.getAnswers();
                    }.bind(this),1500);
                }
                else if (this.qIndex === (this.fetchedQuestions.length - 1))
                {
                    //Notifies parent to render the score component
                    setTimeout(function(){ this.$emit('showscore');}.bind(this),1500);
                }
            }
        },
        /**
         * Dynamic class used to color the answer (option) appropriately
         *  @param {String} option - The answer selected by the user
         *  @returns {String} answerClass - The name of the class
         */
        answerHighlight(option) {
            let answerClass = ''
            //Colors the selected answer Lightblue, see CSS
            if (this.selection === option) {
                answerClass = 'selected'
            }
            //Colors the correct answer Lightgreen
            if (this.submitted && this.correct === option) {
                answerClass = 'correct'
            } 
            return answerClass
        },
        /**
         *  Runs another function on the Q&As of object to have its HTML entities replaced with the actual characters
         *  @param {Object} element - OpenTDB object
         *  @returns {Object} element - Modified OpenTDB object (entities replaced)
         */
        replaceEntities(element) {
            element.question = this.replaceEntityNames(element.question);
            element.correct_answer = this.replaceEntityNames(element.correct_answer);
            for(let i = 0; i < element.incorrect_answers.length; i++) 
            {
                element.incorrect_answers[i] = this.replaceEntityNames(element.incorrect_answers[i]);
            }

            return element
        },
        /**
         *  Function which performs the replacement of HTML entity names
         *  @param {String} string - The question or its answers
         *  @returns {String} string - The above with HTML entity names replaced
         */
        replaceEntityNames(string) {
            string = string.replace(/(&quot;)/g,"\"");
            string = string.replace(/(&#039;)/g,"'");
            string = string.replace(/(&amp;)/g,"&");
            string = string.replace(/(&aacute;)/g,"á");
            string = string.replace(/(&Aacute;)/g,"Á");            
            string = string.replace(/(&ntilde;)/g,"ñ");            
            string = string.replace(/(&Ntilde;)/g,"Ñ");
            string = string.replace(/(&eacute;)/g,"é");
            string = string.replace(/(&Eacute;)/g,"É");
            string = string.replace(/(&Uuml;)/g,"Ü");
            string = string.replace(/(&uuml;)/g,"ü");
            string = string.replace(/(&ldquo;)/g,"“");
            string = string.replace(/(&rdquo;)/g,"”");
            string = string.replace(/(&oacute;)/g,"ó");
            string = string.replace(/(&aring;)/g,"å");
            string = string.replace(/(&Aring;)/g,"Å");
            string = string.replace(/(&auml;)/g,"ä");
            string = string.replace(/(&Auml;)/g,"Ä");
            string = string.replace(/(&ouml;)/g,"ö");
            string = string.replace(/(&Ouml;)/g,"Ö");
            string = string.replace(/(&shy;)/g," ");
            string = string.replace(/(&hellip;)/g,"...");
            string = string.replace(/(&rsquo;)/g,"'");
            return string;
        }
    }
}
</script>

<style scoped>
    #quiz-area-container {
    background-color: #f0eda0;
    }

    .list-group {
    margin-bottom: 10px;
    }

    .list-group-item{
    margin: 5px 0;
    }

    .hover:hover {
    background: #EEE;
    cursor: pointer;
    }

    .selected {
    background-color: lightblue;
    }
    .correct {
    background-color: lightgreen;
    }
</style>