<template>
    <div id="quiz-score-container">
        <h1> Score: {{ numCorrect }}/{{ numTotal }} </h1>
        <!-- Tells parent to get new questions and show the QuizArea component -->
        <b-button @click="$emit('showquiz');">
            Try Again
        </b-button>
    </div>
</template>

<script>
export default {
    props: {
    numCorrect: Number,
    numTotal: Number
    }
}
</script>

<style scoped>
    #quiz-score-container{
        padding-top: 10%;
    }
</style>