<template>
  <div id="app">
    <QuizHeader @pickcat ="changeCategory"/>

    <!--If-directive makes it so that when the quiz boolean is true, it renders the QuizArea component, else the
    QuizScore component. It listens to events that are emitted from the child, denoted by the @, shorthand for v-on.-->
    <QuizArea v-if="quiz"
    @initquiz ="initQuiz"
    @initscore ="initScore"
    @correctinc ="numCorrect++"
    @showscore ="quiz = false"
    ref="QuizArea"/>
    <QuizScore v-else
    :numCorrect="numCorrect"
    :numTotal ="numTotal"
    @showquiz="quiz = true"/>
  </div>
</template>

<script>
import QuizHeader from './components/QuizHeader.vue'
import QuizArea from './components/QuizArea.vue'
import QuizScore from './components/QuizScore.vue'

export default {
  name: 'app',
  components: {
    QuizHeader,
    QuizArea,
    QuizScore
  },
  data() {
    return {
      numCorrect: 0,        //User score starts at 0, increments when answering correctly
      numTotal: 10,         //Fetches 10 questions, so maximum possible score is 10
      quiz: true,           //Boolean for rendering either the quiz(true) or the score(false) component
      catName: "General",   //Default Category "General" (knowledge)
      catId: 9              //ID of the default cateogry, used in API call
    }
  },
  methods: {
    /**
    * This is called by an $emit in QuizArea when it is mounted, sets score to 0 and tells QuizArea to get questions
    */
    initQuiz() {
      this.numCorrect = 0;
      this.$refs.QuizArea.initQuestions(this.catId, this.catName); 
    },
    /**
    * This is called by an $emit in QuizHeader, changes category, makes the if-directive render QuizArea
    * sets score to 0 and tells QuizArea to get questions
    * @param {Number} cId - ID of category
    * @param {String} cName - Name of category
    */
    changeCategory(cId, cName) {
      this.catId = cId;
      this.catName = cName;
      this.quiz = true;
      this.numCorrect = 0;
      this.$refs.QuizArea.initQuestions(this.catId, this.catName); 
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
